<form id="jobApp" action="index.html" method="post">
  <input type="text" name="" value="">

</form>


<%# <%= f.fields_for :job_apps do |j| %> %>
  <%# <%= j.text_field :job_description, placeholder: 'Job description...' %> %>
<%# <% end %> %>
