<h1>Applicant#new</h1>
<p>Find me in app/views/applicant/new.html.erb</p>


<!-- need a form for will need id  -->
<!-- ÷can build rails form -->
<!-- submit btn  => trigger ajax call-->
<h1>Create a new applicant</h1>

<!-- cant have rails form for a javascript post -->

<%= form_for @applicant, html: {id: "applicant_name"} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit :submit %>
<% end %>

<br>
<div id="new_applicant_name"> </div>
