<h1> Internships </h1>


<!-- <button id="allJobsButton">Show me all my jobs</button> -->
<div id="allJobs">

</div>

<br>
<h1><%= link_to 'Create a new applicant', new_applicant_path, class: 'newApplicant' %></h1>
