* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display:flex;
  padding: inherit;
  justify-content: flex-end;
  align-items: center;
  max-height: 8vh;
  background-color: gray;
  font-family: 'Papyrus';

}

#navbarLogo {
  margin-right: auto;
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
#navLinks{
  display: flex;
  /* background-color: black; analog for the width*/
  justify-content: space-around;
  padding: 0px 20px;
  /* width: 40%; */
}

#navLinks a{
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: inherit;
}

#navLinks a:hover {
  color: blue;
}

#navLinks li{
  list-style: none;
  padding: 20px 20px;

}
